<p>
  <a href="https://www.instagram.com/magnoliastudiopgh" target="_blank">
    <%- include("../../public/images/ig_icon.svg") %>
  </a>
  <a href="https://m.facebook.com/magnoliastudiopgh" target="_blank">
    <%- include("../../public/images/fb_icon.svg") %>
  </a>
</p>

