<section class="site-header" id="site-header">
    <a href="./" class="logo" id="logo">
        <img
          src="../../images/logo-sm-red.png" 
          alt="Icon image with large 'M' and 'Magnolia Studio' written underneath."
        />
    </a>
    <div id="nav-bb">
      <% if (menuContent != null) { %>
        <% menuContent.data.menu_links.map(menuLink => { %>
            <a href="<%- ctx.prismicH.asLink(menuLink.link) %>" target="<%- menuLink.target %>">
              <%- ctx.prismicH.asText(menuLink.label) %>
            </a>
        <% }) %>
      <% } %>
    </div>
    <a href="javascript:void(0);" class="icon">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</section>