<div class="awards-container">
  <div class="banner"></div>
  <div class="awards-layout">
    <% slice.items.map(awardItem => { %>
      <div class="awards-col">
        <img 
          src="<%- awardItem.icon.url %>" 
          alt="<%- awardItem.icon.alt %>" 
        />
        <%- ctx.prismicH.asHTML(awardItem.title) %>
      </div>
    <% }) %>
  </div>
  <div class="banner"></div>
</div>
