<section class="service">
    <div class="title">
        <%- ctx.prismicH.asHTML(slice.primary.title) %>
    </div>
    <div class="desc">
        <%- ctx.prismicH.asHTML(slice.primary.description) %>
        <div class="details">
            <%- ctx.prismicH.asHTML(slice.primary.price) %>
            <%- ctx.prismicH.asHTML(slice.primary.length) %>
        </div>
    </div>
</section>
  


