<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="homepage">
    <title><%- ctx.prismicH.asText(test) %></title>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
