<html>
  <head>
    <%- include('./partials/head-home'); %>
  </head>
  <body>
    <%- include('./partials/home_nav'); %>
    <div class="home-container">
        <%- include("SliceZone", {SliceZone: pageContent.data.page_content}); %>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>


