<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/cloud_nav'); %>
    <div class="container">
      <h1 style="text-align:center;padding:20px 0;"><%- ctx.prismicH.asText(pageContent.data.title) %></h1>
      <section>To Do!</section>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>


