<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/navigation'); %>
    <div class="container">
      <h1><%- ctx.prismicH.asText(pageContent.data.title) %></h1>
      <div class="services">
      </div>
    </div>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
