:root {
  --magnolia-red: #861010;
  --epicruen-blue: #01B5CB;
  --neutral-lt: #E4E2DD;
  --neutral: #C9C5BB;
  --neutral-dk: #2B2B2b;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@font-face {
  font-family: horizon;
  src: url(./fonts/horizon.otf);
}

@font-face {
  font-family: horizon_outlined;
  src: url(./fonts/horizon_outlined.otf);
}

@font-face {
  font-family: vultures;
  src: url(./fonts/vultures.otf);
}

/* Globals */
body {
  color: var(--neutral-dk);
  background-color: var(--neutral-lt);
}

a {
  color: var(--neutral-dk);
  font-size: 14px;
  font-weight: 400;
  letter-spacing : 0.35;
  line-height: 28px;
  text-decoration: none;
}


h2, h3, h4, h5, h6 {
  color: var(--neutral-dk);
  font-family: "aileron", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing : -1.5;
  line-height: 44px;
  margin-bottom: 1rem;
}

h1 {
  color: var(--magnolia-red);
  font-family: "horizon", sans-serif;
  font-size: 45px;  
}

h2, h2 a {
  font-size: 25px;
}

h3, h3 a {
  font-size: 20px;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

/* primary button */
.primary {
  display: block;
  text-decoration: none;
  width: 150px;
  min-width: fit-content;
  color: var(--neutral-dk);
  border-radius: 15px;
  border-color: var(--neutral-dk);
  border: 1px solid var(--neutral-dk);
  font-family: "poppins", sans-serif;
  font-size: 14px;
  text-align: center;
}

.primary:hover {
  background-color: var(--magnolia-red);
  color: var(--neutral-lt);
  border-color: var(--magnolia-red);
}

/* generic row for grids */
.row {
  position: relative;
  /* z-index: -1; */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
