/* General */
.container, header, footer {
  max-width: 1024px;
  padding: 0 20px;
  margin: 10% auto;
}

.content-section {
  margin-bottom: 3.75rem;
}
.not-found{
  max-width: 980px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.not-found h1 { 
  font-family: 'Lato', sans-serif !important;
  font-weight: 800 !important;
}
.wio-link {
  background-color: #31a8fd !important;
  color: white;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
          box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4); }
.wio-link img {
  display: none;
}
.wio-link:after {
  font-family: 'Material Icons';
  content: '\E3C9';
  color: white;
  font-size: 24px;
}

/* Header */
.site-header {
  background-color: #E4E2DD;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-width: 1024px;
  left: 50%;
  transform: translate(-50%, 0);
  /* background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #E4E2DD 50%, #F6F6F4 50%);
  background-position: 0 0;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s; */
}

.cloud-header {
  background-color: none !important;
}

/* .menu-open {
  background-position: 0 -100%;
} */

.exit-menu {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
}

.fa {
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.site-header a {
  display: inline-block;
  color: #2B2B2B;
  text-align: center;
  margin: 14px;
  text-decoration: none;
  font-size: 14px;
}

a.logo {
  float: left;
  height: 80px;
}

#nav-bb {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.site-header div#nav-bb {
  float: right;
}

.site-header div#nav-bb a:hover,
.site-header div#nav-bb a:focus {
  border-bottom: 1px solid #861010;
  color:#861010;
}

.site-header .icon {
  display: none;
}

.site-header .icon:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #F6F6F4;
  clip-path: polygon(0% 0%,0% 100%,100% 0%);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Homepage Banner */
.homepage-banner {
  margin: -70px 0 80px;
  padding: 10em 0 8em;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  line-height: 1.75;
  text-align: center;
}
.banner-content {
  text-align: center;
}
.banner-title, .banner-description {
  width: 90%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
.banner-title {
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
}
.banner-button {
  background: #ffffff;
  border-radius: 7px;
  color: #484D52;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 40px;
}
.banner-button:hover {
  background: #c8c9cb;
}

/* Text Sections */
.text-section-2col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
.text-section-1col img,
.text-section-2col img,
.gallery img {
  margin-bottom: 1rem;
}
.text-section-1col p:last-child,
.text-section-2col p:last-child {
  margin-bottom: 0;
}
.quote blockquote {
  display: block;
  font-family: 'Lora', Serif; 
  font-size: 36px;
  font-style: italic;
  font-weight: normal; 
  color: #484D52; 
  letter-spacing : 1.14;
  line-height: 1.5em;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
}
.quote blockquote:before,
.quote blockquote:after {
  color: #e9e9e9;
  content: open-quote;
  font-family: 'Lora', Serif;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 0.1em;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: -0.3em;
}
.quote blockquote:after {
  content: close-quote;
}

/* Highlight Section */
.highlight {
  position: relative;
  overflow: auto;
}
.highlight-left {
  width: 43%;
  float: left;
}
.highlight-right {
  width: 48%;
  float: right;
}

/* Gallery Section */
.gallery {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}
.gallery-item {
  -webkit-box-flex: 0 1 48%;
  -moz-box-flex:  0 1 48%;
  -webkit-flex:  0 1 48%;
  -ms-flex:  0 1 48%;
  flex: 0 1 48%;
}
.gallery-link {
  margin-top: -20px;
  text-transform: uppercase;
}

/* Footer */
footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
footer p {
  border-top: 1px solid #DADADA;
  padding: 2rem 0;
  margin-bottom: 0;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
.footer-logo {
  width: 30px;
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  .content-section {
    margin-bottom: 2rem;
  } 
  .homepage-banner {
    margin: 0 0 40px;
    padding: 10em 0 6em;
  }
  .banner-title {
    font-size: 50px;
    line-height: 50px;
  }
  .text-section-2col {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
  }
  .quote {
    font-size: 20px;
  }
  .gallery-item {
    -webkit-box-flex: 100%;
    -moz-box-flex:  100%;
    -webkit-flex:  100%;
    -ms-flex:  100%;
    flex: 100%;
  }
  .highlight-left,
  .highlight-right {
    width: 100%;
    float: none;
  }
}

/* team-container */
.team-container, .service-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  margin: auto 0 4rem 0;
} 

.team-container:after, .service-container:after {
  content: "";
  display: table;
  clear: both;
}

.team-container p {
  margin-bottom: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

/* .reverse p {
  text-align: right;
} */

.two-col {
  float: left;
  width: 50%;
  margin: auto 0;
  text-align: justify;
}

.two-col:nth-child(odd) {
  padding: 0 10px 0 20px;
}

.two-col:nth-child(even) {
  padding: 0 20px 0 10px;
}

.team-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
  border: 25px solid #D3CFC5;
}

.team-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  float: right;
}

.team-links a {
  padding: 0 10px;
}

/* service page */

.row {
  position: relative;
  z-index: -1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.service {
  padding: 1rem;
  display: flex;
  float: left;
  width: 33.33%;
}

.title {
  padding: 5px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  border-left: 0 !important;
}

.service .title h2 {
  margin-bottom: 0;
  color: #861010;
}

.title, .desc {
  border: 1px solid #2B2B2B;
}

.desc {
  position: relative;
}

.desc > p {
  padding: 1rem;
}

.details {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #2B2B2B;
  display: flex;
  justify-content: center;
}

.details p {
  padding: 1rem 2rem;
}

.details p:first-of-type {
  border-right: 1px solid #2B2B2B;
}


/* about */
.about {
  max-width: 1024px;
  position: fixed;
  top: 100;
  z-index: 99;
}

.windows {
  display: block;
}

#cancelPolicy {
  width: 70%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

#cancelPolicy p {
  font-size: 18px;
  font-family: inherit !important;
  font-weight: normal !important;
  text-transform: none !important;
}

#hours {
  width: 30%;
  position: fixed;
  left: 25%;
  top: 40%;
  transform: translate(-50%, 0);
}

.hour-table {
  width: 100%;
  position: relative;
  margin: auto;
}

.hour-table td,
.hour-table th {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.hour-table tbody tr:hover {
  background-color: navy;
  color: white;
}

#contact {
  width: 50%;
  position: fixed;
  left: 70%;
  top: 50%;
  transform: translate(-50%, 0);
}

.contact-fieldset * {
  font-size: 15px;
}

.contact-fieldset .field-row-stacked input {
  padding-bottom: 5px;
}

/* Media Queries */
@media (max-width: 1000px) {
  .service {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .container, header {
    max-width: 100%;
    padding: 0 10%;
    margin: 30% auto;
  }

  .site-header.responsive {
    background-color: #F6F6F4;
  }

  a.logo {
    float: none;
    text-align: center;
  }
  
  .site-header div#nav-bb {
    display: none;
    float: none;
  }

  .site-header div#nav-bb a:hover,
  .site-header div#nav-bb a:focus {
    background-color: #861010;
    color:#F6F6F4;
  }

  .site-header a.icon {
    display: block;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .site-header a {
    margin: 0;
    padding: 14px;
    display: block;
    float:none;
    text-align: center;
  }

  .service {
    width: 100%;
  }

  .team-container {
    display: block;
  }
  .two-col {
    float: none;
    width: 100%;
  }
  .two-col:nth-child(odd),
  .two-col:nth-child(even) {
    padding: 0px;
  }

  .team-img {
    width: 80%;
    border: 25px solid #C2BCAE;
    margin-bottom: 1rem;
  }

  .team-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    float: none;
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
 #cancelPolicy, #hours, #contact {
  width: 80%;
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  margin: 1rem auto;
 }
}


.cloud-header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.cloud-header a {
  display: block;
  color: #2B2B2B;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 14px;
}

.cloud-header div#nav-bb a:hover {
  background-color: navy;
  color:#F6F6F4;
}

.cloud-header div#nav-bb {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #F6F6F4;
}

.cloud-header a.cloud-icon {
  display: block;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.cloud-header .cloud-icon:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #F6F6F4;
  clip-path: polygon(0% 0%,0% 100%,100% 0%);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

a:focus {
  outline: none !important;
}

.title-bar {
  background: navy !important;
}