/* General */
.container, header, footer {
  max-width: 1024px;
  padding: 0 20px;
  margin: 10% auto;
}

.home-container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact-container {
  max-width: 1024px;
  margin: 0 auto;
}

/* site-header */
.site-header {
  background-color: var(--neutral-lt);
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-width: 1024px;
  left: 50%;
  transform: translate(-50%, 0);
  /* background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--neutral-lt) 50%, #F6F6F4 50%);
  background-position: 0 0;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s; */
}
.exit-menu {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
}
.fa {
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.site-header a {
  display: inline-block;
  color: var(--neutral-dk);
  text-align: center;
  margin: 14px;
  text-decoration: none;
  font-size: 14px;
}
a.logo {
  float: left;
  /* height: 80px; */
}
#nav-bb {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.site-header div#nav-bb {
  float: right;
  padding: 10px;
}
.site-header div#nav-bb a:hover,
.site-header div#nav-bb a:focus {
  border-bottom: 1px solid var(--magnolia-red);
  color:var(--magnolia-red);
}
.site-header .icon {
  display: none;
}
.site-header .icon:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #F6F6F4;
  clip-path: polygon(0% 0%,0% 100%,100% 0%);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* end site-header */

/* cloud-header */
.alt-header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: none !important;
}
.alt-header a {
  display: block;
  color: var(--neutral-dk);
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 14px;
}
.alt-header div#nav-bb a:hover {
  background-color: var(--magnolia-red);
  color:#F6F6F4;
}
.alt-header div#nav-bb {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #F6F6F4;
}
.alt-header a.cloud-icon {
  display: block;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.alt-header .cloud-icon:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #F6F6F4;
  clip-path: polygon(0% 0%,0% 100%,100% 0%);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
a:focus {
  outline: none !important;
}
/* end cloud-header */

/* footer */
footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
footer p {
  border-top: 1px solid #DADADA;
  padding: 2rem 0;
  margin-bottom: 0;
}
footer a {
  font-weight: bold;
  text-decoration: none;
}
.footer-logo {
  width: 30px;
  margin-top: 10px;
}

/* end footer */

/* team page */
.paper {
  width: 90%;
  margin: auto;
  position: relative;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  -webkit-filter: saturate(70%) contrast(85%);
  filter: saturate(70%) contrast(85%);
}
.paper img {
  width: 100%;
  display: block;
  z-index: 1;
}
.paper:before,
.paper:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
}
.paper:before {
  height: 4%;
  bottom: -4%;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0,0,0,0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0,0,0,0.22) 10%, transparent 50%);
  background-size: 49% 100%;
  background-position: 2% 0, 98% 0;
}
.paper:after {
  height: 100%;
  top: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(265deg, rgba(0,0,0,0.2), transparent 10%), 
    linear-gradient(5deg, rgba(0,0,0,0.2), transparent 15%), 
    linear-gradient(-5deg, rgba(0,0,0,0.1), transparent 10%), 
    linear-gradient(5deg, rgba(0,0,0,0.1), transparent 10%), 
    linear-gradient(-265deg, rgba(0,0,0,0.2), transparent 10%), 
    linear-gradient(-5deg, rgba(0,0,0,0.2), transparent 15%), 
    linear-gradient(266deg, rgba(0,0,0,0.2), transparent 10%);
  background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
  background-position: right top, left center, left bottom, left top, left top, right top, left center, right center, right center, left bottom;
}

.team-container, .service-container {
  display: flex;
  width: 100%;
  margin: auto 0 4rem 0;
} 

.team-container:after, .service-container:after {
  content: "";
  display: table;
  clear: both;
}

.team-container p {
  margin-bottom: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.two-col {
  float: left;
  width: 50%;
  margin: auto 0;
  text-align: justify;
}

.two-col:nth-child(odd) {
  padding: 0 10px 0 20px;
}

.two-col:nth-child(even) {
  padding: 0 20px 0 10px;
}

.team-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  float: right;
}

.team-links a {
  padding: 0 10px;
}

.team-links svg:hover path, .team-links svg:hover circle {
  fill: var(--magnolia-red) !important;
}

/* end team page */

/* services page */
.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service {
  -ms-flex: 30%;
  flex: 30%;
  max-width: 30%;   
  margin: 1rem;
  display: flex;
  border: 1px solid var(--neutral-dk);
}

.title {
  padding: 5px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  border-left: 1px solid var(--neutral-dk);
}

.service .title h2 {
  margin-bottom: 0;
  color: var(--magnolia-red);
  font-size: 25px;
}

.service div.info {
  position: relative;
  display: block;
  width: 100%;
  min-height: 250px;
}

.service div.info > p {
  padding: 1rem;
} 

.desc {
  padding: 1rem;
  text-align: justify;
}

.link {
  bottom: 49;
  margin-bottom: 1rem;
}

.link, .details {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.details {
  bottom: 0;
  border-top: 1px solid var(--neutral-dk);
}

.details p:first-of-type {
  border-right: 1px solid var(--neutral-dk);
  padding: 1rem 2rem 1rem 1rem;
}

.details p:nth-child(2) {
  padding: 1rem 2rem 1rem 1rem;
}
/* end services page */

/* about page */
.clouds-container {
  position: relative;
  z-index: -1;
  top: 0;
}

.about {
  max-width: 1024px;
  position: absolute;
  top: 100;
  left: 0; 
  right: 0; 
  margin: 0 auto; 
  z-index: 99;
}

.windows {
  display: block;
}

.title-bar {
  background: navy !important;
}

#cancelPolicy {
  width: 70%;
  position: relative;
  left: 153px;
  top: 55px;
}

#cancelPolicy p {
  font-size: 18px;
  font-family: inherit !important;
  font-weight: normal !important;
  text-transform: none !important;
}

#hours {
  width: 30%;
  position: relative;
  left: 74px;
  top: 150px;
}

.hour-table {
  width: 100%;
  position: relative;
  margin: auto;
}

.hour-table td,
.hour-table th {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.hour-table tbody tr:hover {
  background-color: navy;
  color: white;
}

#contact {
  width: 50%;
  position: relative;
  left: 420px;
  top: -132px;
}

.contact-fieldset * {
  font-size: 15px;
}

.contact-fieldset .field-row-stacked input {
  padding-bottom: 5px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .service {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 45%;
  }
}

@media (max-width: 767px) {
  .container, header {
    max-width: 100%;
    padding: 0 10%;
    margin: 30% auto;
  }

  .site-header.responsive,
  .cloud-header.responsive {
    background-color: #F6F6F4;
  }

  a.logo {
    float: none;
    text-align: center;
  }
  
  .site-header div#nav-bb {
    display: none;
    float: none;
  }

  .site-header div#nav-bb a:hover,
  .site-header div#nav-bb a:focus {
    background-color: var(--magnolia-red);
    color:#F6F6F4;
  }

  .site-header a.icon {
    display: block;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .site-header a {
    margin: 0;
    padding: 25px;
    display: block;
    float:none;
    text-align: center;
  }

  .service {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .team-container {
    display: block;
  }
  .two-col {
    float: none;
    width: 100%;
  }
  .two-col:nth-child(odd),
  .two-col:nth-child(even) {
    padding: 0px;
  }

  .team-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    float: none;
    justify-content: space-evenly;
  }

  #cancelPolicy, #hours, #contact {
    width: 80%;
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    margin: 1rem auto;
   }
}

/* tape effect */
.tape {
  position: relative;
  top: 15px;
  z-index: 9;
  height: 4vmin;
  background-color: var(--neutral);
  border-right: 1px dotted #ADA899;
  border-left: 1px dotted #ADA899;
  opacity: 0.4;
}
.tilt-plus {
  transform: rotate(1deg);
}
.tilt-minus {
  transform: rotate(-1deg);
}
/* end tape */


/* type writer effect */
.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid var(--magnolia-red);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
/* typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
/* end type writer effect */
